html{
  background-color: var(--background-color);
}

:root {
  --dialog-color: #5fa9c2;
  --background-color:#1f2229;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Tab-Content {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 95vh;
}

.Name{
  margin-top: 3rem;
}

.Notable-text{
  color: #7dddf5
}

.App-link {
  color: #61dafb;
}

.Button-Row{
  background-color:var(--background-color);
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 1rem;
  height:5vh
}

.Button-Row Button{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.Dialog-Box{
  min-height:70vh;
  min-width: 60vw;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
}

.Dialog-Content{
  display: flex;
  text-align: left;
}

.square{
  background-color: var(--dialog-color);
}
